//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////

$fontstack: "Franklin Gothic Medium", "Tahoma", sans-serif;
//$fontstack: "Roboto", "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
$font-name: "Roboto";
$font-name--lowercase: "roboto";
//$heading-fontstack: "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
//$heading-fontstack: "Roboto", "Rockwell", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
//$heading-font-name: "Roboto Slab";
//$heading-font-name--lowercase: "robotoslab";