//////////////////////////////
// LAYOUT: Layout dependent css and media queries only
//////////////////////////////

$body-font-size: 16px;
$body-line-height: 1.5;
$text-color: #222;
$block-color: #ddd;

// Box Sizing
* {
  box-sizing: border-box;
}

// Responsive images and videos
img,
video {
    max-width: 100%;
    height: auto;
}
