//////////////////////////////
// VARIABLES: For layout breakpoints 
//////////////////////////////

// https://github.com/at-import/breakpoint/wiki/Respond-To
$breakpoint-to-ems: true;

$breakpoints: add-breakpoint("xx-large", (1440px));
$breakpoints: add-breakpoint("x-large", (1200px 1439px));
$breakpoints: add-breakpoint("large", (960px 1199px, 'no-query' true));
$breakpoints: add-breakpoint("medium", (720px 959px));
$breakpoints: add-breakpoint("small", (480px 719px));
$breakpoints: add-breakpoint("x-small", (240px 479px));